<button
  mat-raised-button
  color="primary"
  aria-label="Example icon button with a home icon"
  (click)="openDialog()"
>
  Agregar sucursal
  <mat-icon>add</mat-icon>
</button>

<button
  mat-raised-button
  color="primary"
  aria-label="Example icon button with a home icon"
  (click)="goBack()"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
  Volver
</button>

<div>
  <mat-nav-list>
    <mat-list-item *ngFor="let branch of branches$ | async">
      <p>
        Id:
        {{ branch.id }}
        - Address:
        {{ branch.address }}
      </p>

      <button mat-list-item (click)="openDeleteDialog(branch.id)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-list-item (click)="openEditDialog(branch.id, branch.address)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
