<div class="page-container">
  <div class="list-container">
    <div class="header-buttons">
      <button
        mat-raised-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="goBack()"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Volver
      </button>
      <button
        mat-raised-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="openDialog()"
      >
        Agregar sucursal
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="list-item" *ngFor="let branch of branches$ | async">
      <app-branch-item [branch]="branch"></app-branch-item>
    </div>
  </div>
</div>
