<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Id:
      {{ branch.id }}
      - Address:
      {{ branch.address }}
    </mat-panel-title>
    <mat-panel-description class="expansion-description">
      <button mat-icon-button (click)="openDeleteDialog(branch.id)">
        <mat-icon>delete</mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="openEditDialog(branch.id, branch.address)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <button
    class="add-section"
    color="primary"
    mat-mini-fab
    (click)="createSection()"
  >
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="sections" *ngIf="haveSections">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let section">
        {{ section.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let section">
        {{ section.description }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'description']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'description']"></tr>
  </table>
  <p *ngIf="!haveSections">No hay secciones para esta sucursal.</p>
</mat-expansion-panel>
