<h1>Seccion</h1>

<p>ID: {{ sectionId }}</p>
<p>Nombre: {{ (section$ | async)?.name }}</p>
<p>Descripcion: {{ (section$ | async)?.description }}</p>

<h2>Crear grupo de turnos</h2>
<p>Ejemplos de grupos de turnos pueden ser:</p>
<ul>
  <li>Salon 1 de cardiologia</li>
  <li>Peluquero Juan</li>
</ul>

<button (click)="openCreateDialog()">CREAR NUEVO GRUPO DE TURNOS</button>

<div *ngFor="let group of appointmentGroups$ | async">
  <h3>ID grupo: {{ group.id }}</h3>
  <p>Nombre: {{ group.name }}</p>
  <p>Descripcion: {{ group.description }}</p>
  <p>Es publico?: {{ group.public }}</p>

  <p style="display: flex">
    Disponibilidad:
    <ngx-mat-timepicker
      [(ngModel)]="startTime"
      [disabled]="true"
      [showSpinners]="false"
      [stepMinute]="10"
    ></ngx-mat-timepicker>
    a
    <ngx-mat-timepicker
      [(ngModel)]="startTime"
      [disabled]="true"
      [showSpinners]="false"
      [stepMinute]="10"
    ></ngx-mat-timepicker>
  </p>
</div>
