.expansion-description {
  justify-content: flex-end;
}

mat-expansion-panel {
  margin: 10px;
}

.new-availability {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-availability {
  float: right;
}
