:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 100%;
  max-width: 300px;
  height: min-content;
}
