<app-simple-dialog
  title="Agregar Grupo de Turnos"
  [onClose]="onClose"
  [onAccept]="onAccept"
  [dialogRef]="dialogRef"
>
  <form [formGroup]="form">
    <p>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Nombre"
          formControlName="name"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Descripción"
          formControlName="description"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="public">
        Es público (opción de registro por parte de los usuarios)
      </mat-checkbox>
    </p>
    <p>
      <ngx-mat-timepicker
        [stepMinute]="10"
        [defaultTime]="[12, 0, 0]"
      ></ngx-mat-timepicker>
    </p>
  </form>
</app-simple-dialog>
